/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: "Poppins", serif;
  font-size: 400;
}
:root{
  --red:#D01C28;
}
.Navbar{
  display: flex;
  justify-content: space-between;
  max-width: 1380px;
  margin: 0 auto;
  height: 72px;
  align-items: center;
}
.options{
  display: flex;
  gap:24px;
  list-style: none;
  font-weight: 400;
}
.options li{
  list-style: none;
 
}
.options li a{
  text-decoration: none;
  color: rgb(168, 31, 31);
  font-weight: 600;
}
.options .active{
  text-decoration: none;
}
button{
  all: unset;
  padding: 8px 20px;
  background-color: var(--red);
  color: white;
  font-weight: 500;
}
.Hero{
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  height: calc(100vh-72px);
  align-items: center;
  margin-top: 40px;
}
.Hero_content{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Hero_content p{
  max-width: 400px;
}
.Hero_content h1{
  font-size: 100px;
  line-height: 90px;
   font-family: "Poppins", serif;
  font-weight: 500;
}
.Hero_btn{
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.Hero_btn button{
 font-size: 20px;
}
.Hero_img{
  max-width: 100%;
  height: auto;
}
.Hero_img img{
  height: 540px; 
  width: 540px;
}
.secondary_btn{
  background: transparent;
  color: #5A5959 ;
  border: 1px solid gray;
}
.ecommerce{
  display: flex;
  gap: 14px;
}
/* icon */
.icon{
  font-size: 1.2rem;
  display: none
}
@media(max-width:760px){
 .icon{
  display: block;
 }
 .options{
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(191, 203, 213);
  position: absolute;
  height: 60vh;
  width: 350px;
  top: -800px;
  right: 0;
  z-index: 10;
  align-items: center;
 }
 .options.active{
  top: 10%;
 }
.Hero{
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
}

.Hero_img{
  order: 1;

}
.Hero_content{
  order: 2;
  align-items: center;
}
.products{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.shopnow_container{
  max-width: 1080px;
  margin: 0 auto;
  height: auto; 
display: flex;
justify-content: center;
align-items: center;
}
.shopnow_container img{
  max-width: 1080px;
  margin: 0 auto;
  width: 100%;
  height: 500px;
  border-radius: 20px;
  opacity: 0.9;
  display: flex;
  justify-content: center;

}
}
@media(max-width:420px){
  .Hero{
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
  }
.Hero{
    order: 1;
  }
  .Hero_content h1{
    text-align: center;
  }
  .Hero_content p{
    text-align: center;
  }
  .Hero_content{
   text-align: center;
   width: 100%;
   order: 2;
  }

  .Hero_btn{
    align-items: center;
   }
  }


  /* cards css */
  .products{
    width: 260px;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    border-radius: 10px;
    box-shadow: -3px -3px 3px 3px rgb(218, 213, 213);
    padding: 15px;
    justify-content: space-between;
    gap: 12px;
    height: 500px;
    /* background-color: greenyellow; */
  }
  .products .content{
    text-wrap: 40px;
  }
  .products h4{
    font-size: 15px;
  }
  .products img{
    width: 100%;
    height: 220px;
  }
/* .cards_img img{
    height: 240px;
    width: 260px;
    border: 2px solid black;
    aspect-ratio: 3/2;
  } */
  /* cards component css */
.cards_container{
 max-width: 1280px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  gap: 40px;
}
.Cards_heading{
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Like btn css */
.like_btn{
  /* background: none; */
}
/* .share_col{
  justify-content: end;
} */
.Share_icons{
  display: flex;
  gap: 5px;
  font-size: 1.8rem;
  list-style: none;
  justify-content: center
}
.logo p{
  font-size: xx-large;
  font-weight: 700;
}
/* //cart near login button css */
.login2{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.cart_link{
  font-size: 1.4rem;
  color: black;
  text-decoration: none;
}
/* cart page css */

.check{
  /* background-color: palevioletred; */
}
/* cartProduct css */
.cart_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 850px;
  margin: 25px 0px;
 padding: 15px;
 border-radius: 12px;
}
.cart_container img{
  height: 95px;
  width: 95px;
  object-fit: contain;
}
.cart_container_left{
  flex: 0.3;
  display: flex;
  justify-content: center;
}
.cart_container_right h4{
font-size: 20px;
   max-width: 100%;
}
.cart_container_right{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.container_right_right{
  display: flex;
  align-items: center;
  gap: 5px;
}
.container_right_right button{
  all: unset;
  background-color: #5A5959;
  padding: 5px;
  border-radius: 6px;
  color: white;
  text-align: center;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
}
.cart_container_right button {
  background-color:var(--red);
  color: rgb(255, 255, 255);
  border: none;
  padding: 8px 8px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  border-radius: 6px;
  width: 100px;
}

/* CheckOut page css */
.check_container{
  height: auto;
  width: 100%;
}
.checkout{
  background-color: rgb(219, 217, 220);
  padding: 12px 18px;
  width: 100%;
}

/* //practise */
.kl{
  border: 2px solid black;
  max-width: 300px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
/* //signup css */
.signup_container {
  max-width: 1280px;
  margin: 0 auto;
}

.signup_container2{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.signup_container img{
  width: 100%;
  height: 150px;
}
.signup_form {
  
  display: flex;
  justify-content: center;
  gap: 80px;

}
.stripe{
  max-width: 1280px;
  margin: 0 auto;
  
}
.stripe img{
  width: 240px;
  height: 160px;
}
.stripe_contain{
  display: flex;
  margin: 30px 30px;
  gap: 3px;
}
.corosal{
  max-width: 1280px;
  margin: 0 auto;
  width: 1200px;
  height: 8px;
}

/* //Main Product page css */
.main_product{
  /* background-color: red; */
  display: flex;
  max-width: 1500px;
  margin: 0 auto;
  gap: 15px;
}
.category_col{
  width: 20%;
  /* background-color: greenyellow; */
  /* margin-left: ; */
}
.filter_col{
  width: 80%;
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 24px;
  margin-right: 10px;
  
}

.filter_col_1 ul li{
 list-style: none;
 
}
.filter_col_1 ul li a{
  color: black;
}

/* new cart page css */
.Cardd{
  /* background-color: palegreen; */
max-width: 1300px;
font-weight: 500;
margin: 0 auto;
height: auto;
}

.addtocart{
  display: flex;
  justify-content: space-between;
}

.addtocart_left{
  background-color: rgb(255, 255, 255);
  width: 75%;
  height: auto;
}
.addtocart_right{

  width: 25%;
}

.cart_quantity_buttons button{
  all: unset;
  background-color:#DBD9D6;
  margin: 0px 5px;
  padding: 6px;
  border-radius: 8px;
}
.carousel_slide{
  max-width: 1280px;
  margin: 0 auto;
}
.carousel_slide img{
  width: 100%;
  height: 450px;
}

/* running shoe css */
.shopnow_container{
  max-width: 1080px;
  margin: 0 auto;
  height: auto;
  position: relative;
display: flex;
}
.shopnow_container img{
  max-width: 1080px;
  margin: 0 auto;
  width: 100%;
  height: 500px;
  border-radius: 20px;
  opacity: 0.8;

}

.shopnow_content button{
  all: unset;
  padding: 15px 25px;
  background-color: white;
}

.shopnowtwo_container{

  max-width: 1080px;
  margin: 0 auto;
}
.featured{
  display: flex;
  justify-content: space-between ;
  margin-left: 2px;
  margin-right: 2px;
}
.shopnowtwo_container h2{
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 50px;
}
.featured img{
  width: 500px;
  height: 310px;
  border-radius: 20px;
}
.shop_now{
  margin-top: 30px;
  margin-left: 2px;
  display: flex;
  justify-content: space-between;
  position: relative;

}
.Shopnow_content{
  position: absolute;
  bottom: 40px;
  left: 45px;
  color: white;
  font-size: 45px;
}
.Shopnow_content h5{
  font-size: 40px;
  font-weight: 700;
  z-index: 1;
}
.shop_now img{
  width: 620px;
  height: 310px;
  border-radius: 20px;

}
.shop_now_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
  font-size: 37px;
}
.shop_now_content p{
  font-size: 20px;
  font-weight: 600;
}
.shop_now_content h4{
  font-size: 70px;
  font-weight: 600;
  font-family: 'Franklin Gothic Medium';
}

.login_credential{
  padding: 25px;
  font-size: 15px;
}